//colors
$color-background-dark: #030303;
$color-background-light: #ffffff;
$color-font-light: #ffffff;
$color-font-dark: #000000;
$color-font-gold: #9d8665;
$color-louvre-red: #710707;

//padding
$section-padding: 75px;
$section-padding-tablet-big: 60px;
$section-padding-tablet: 40px;

//screen
$tablet-big-width: 1024px;
$tablet-width: 768px;
$mobile-width: 420px;
$small-width: 320px;

